/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  background-color: #f8f8ff;
}

.fwh-slide {
  height: 100vh;
}

.logo {
  width: 200px;
  height: 70px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  top: 0;
  position: fixed;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list li {
  list-style-type: none;
  display: inline-block;
  margin-left: 15px;
}


li {
  font-weight: bold;
  font-size: 20px;
}

h1 {
  font-weight: bold;
  font-size: 30px;
}

form {
  display: block;
  text-align: center;
}

#message {
  height: 100px;
}

.profile {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 150px;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  max-width: 100%;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  top: 100px;
  width: 100%;
}

.grid__item {
  background-color: lightgray;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid gray;
  padding: 20px;
  width: auto;
}

.grid-img {
  grid-area: photo;
}
.grid-img img {
  width: 500px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%
}

.contacts {
  text-align: center;
}  

a {
  color: #000;
  text-decoration: none;
}


a:visited {
  color: #696969;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:active {
  color: #191970;
  text-decoration: underline;
}

.heading {
  text-align: center;
}


@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

.grid__item:last-child {
  grid-column: auto / auto;
  grid-row: auto / auto;
}

h1 {
  font-size: 22px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button {
  display: inline-block;
  font-family: inherit;
  background-color: lightblue;
  color: black;
  color: #000;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-transition-duration: 0.9s;
       -o-transition-duration: 0.9s;
          transition-duration: 0.9s;
}

button {
  display: inline-block;
  font-family: inherit;
  background-color: lightblue;
  color: black;
  color: #000;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-transition-duration: 0.9s;
       -o-transition-duration: 0.9s;
          transition-duration: 0.9s;
}
